# Dependencies
node_modules


# Build and CI Tools
coverage
.grunt

# Logs
logs
*.log
*.err

# Temp files
*.diff
*.orig
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Runtime Data
pids
*.pid
*.seed

# IDE
.idea/
*.sublime-project
*.sublime-workspace

# OSX
.DS_Store
Thumbs.db
.cache
.project
.settings
